<template>
  <q-page class="column items-center container q-mx-auto">
    <h4 class="text-uppercase">Lorem ipsum dolor sit</h4>
    <q-list class="flex justify-between full-width">
      <q-item class="column">
        <p class="text-caption text-bold text-uppercase q-mb-sm">команты</p>
        <q-btn-toggle toggle-color="main" v-model="selectApartType" value="1" :options="apartTypes" />
      </q-item>
      <q-item class="column">
        <p class="text-caption text-bold text-uppercase q-mb-sm">этаж</p>
        <div class="flex items-center">
          <q-input v-model="selectLevel.min" dense class="default-input" type="number" outlined min="0" />
          -
          <q-input v-model="selectLevel.max" dense class="default-input" type="number" outlined min="0" />
        </div>
        <q-range color="main" v-model="selectLevel" :min="0" :max="60" />
      </q-item>
      <q-item class="column">
        <p class="text-caption text-bold q-mb-sm">ПЛОЩАДЬ, м2</p>
         <div class="flex items-center">
          <q-input v-model="selectArea.min" dense class="default-input" type="number" outlined />
          -
          <q-input v-model="selectArea.max" dense class="default-input" type="number" outlined />
        </div>
        <q-range color="main" v-model="selectArea" :min="0" :max="999" />
      </q-item>
      <q-item class="column">
        <p class="text-caption text-bold q-mb-sm">СТОИМОСТЬ, млн. р.</p>
        <div class="flex items-center">
          <q-input v-model="selectPrice.min" dense class="default-input" type="number" outlined />
          -
          <q-input v-model="selectPrice.max" dense class="default-input" type="number" outlined />
        </div>
        <q-range :step="0.1" color="main" v-model="selectPrice" :min="0" :max="20" />
      </q-item>
      <q-item class="column items-center justify-center q-pt-lg" style="width: 20%;">
        <q-btn class="full-width text-bold q-mb-sm" label="Применить" color="main" />
        <a class="text-bold text-black text-uppercase text-caption" href="#">сбросить фильтр</a>
      </q-item>
    </q-list>

    <div class="q-gutter-md row items-start">
      <q-card>
        <div class="flex justify-between card-header">
          <p>3 этаж</p>
          <div>
            1 комната - 22.94м2
          </div>
        </div>

      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      selectApartType: 1,
      apartTypes: [
        {
          value: 1,
          label: 'S'
        },
        {
          value: 2,
          label: '1к'
        },
        {
          value: 3,
          label: '2к'
        },
        {
          value: 4,
          label: '3к'
        }
      ],
      selectLevel: {
        min: 0,
        max: 60
      },
      selectArea: {
        min: 0,
        max: 999
      },
      selectPrice: {
        min: 0,
        max: 20
      }
    }
  }
}
</script>
