// app global css in Sass form

.text-main
  color: $main-color
.bg-main
  background: $main-color


.default-input
  width: 80px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.container
  max-width: 1170px
